.product-info {
  align-items: center;
}

.product-description {
  margin: 1em;
}

.product-image {
  max-width: 75%;
}

.price {
  font-weight: bold;
  font-size: x-large;
  margin-right: .5rem;
}

.cart-button-container {
  align-items: center;
  justify-content: right;
  margin-bottom: 1%;
}

.heart-button {
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  margin: 0 1%;
}

.heart-icon-colored {
  color: #d2042d;
}

.description-text {
  margin-left: .2em;
  margin-right: .5em;
}

@media screen and (min-width: 768px) {
  .product-info {
    flex-direction: row;
  }

  .product-image {
    max-width: 25%;
    margin: 2%;
  }
}
