@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', 'sans-serif';
  font-size: 16px;
  align-items: center;
  text-align: center;
  margin: 0;
}

header,
header > .burger-menu {
  position: fixed;
  top: 0;
  font-size: 1.4em;
}

main {
  flex-grow: 1;
}

.footer {
  background-color: #3af070;
  color: #202020;
  padding-left: 1%;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.small-text {
  font-size: small;
}

.max-width {
  width: 100%;
}

.link {
  color: #202020;
  text-decoration: none;
}

.social-media {
  font-size: x-large;
}

.navigation {
  background-color: #202020;
  padding: .5rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 230px;
}

.navigation > .link {
  color: #ffffff;
}

.burger-menu {
  position: fixed;
  right: 1%;
  top: 1%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.main-container {
  min-height: 100vh;
}

.min-height-100vh {
  min-height: 100vh;
}

.image {
  height: auto;
}

.justify-align-center {
  justify-content: center;
  align-items: center;
}

.button {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:.5em 1em;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}

.button:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}

.button:active {
  position:relative;
  top:1px;
}

.logo {
  font-size: 4rem;
  margin-top: 1rem;
}

.text-red {
  color: red;
}

@media screen and (min-width: 768px) {
  .burger-menu {
    display: none;
  }

  .navigation {
    display: flex;
  }

  .main-container {
    padding-left: 230px;
  }
}
