.logo {
  font-size: 4rem;
  margin-top: 1rem;
}

.categories {
  margin-bottom: 1em;
}

.categories-container {
  width: 95%;
  margin: auto;
}

.categories-item {
  outline: thin solid #202020;
  padding: 0 .5em;
  margin: .5em;
  flex: 1 1 0;
}

.categories-item-heading {
  margin: 0;
}

.categories-item-icon {
  font-size: 3rem;
  padding-bottom: .5em;
}
