.product {
  align-items: center;
}

.product-description {
  text-align: justify;
}

.product-image {
  max-width: 75%;
}

.price {
  font-weight: bold;
}

.sizes {
  justify-content: space-around;
}

.add-to-cart {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
  background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
  background-color:#d0451b;
  border-radius:3px;
  border:1px solid #942911;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  padding:.5em 1em;
  text-decoration:none;
  text-shadow:0px 1px 0px #854629;
}

.add-to-cart:hover {
  background:linear-gradient(to bottom, #bc3315 5%, #d0451b 100%);
  background-color:#bc3315;
}

.add-to-cart:active {
  position:relative;
  top:1px;
}

.cart-button-container {
  align-items: center;
  justify-content: right;
  margin: 1%;
}

.heart-icon {
  font-size: 1.5em;
  padding-left: 1%;
}

.description-text {
  margin-left: .2em;
  margin-right: .5em;
}

@media screen and (min-width: 768px) {
  .product {
    flex-direction: row;
  }

  .product-image {
    max-width: 25%;
  }
}
