.product-image {
  max-width: 35%;
  margin: 1%;
}

.products-item {
  padding: 1em;
  box-sizing: content-box;
}

.caption {
  display: inline-block;
}

.larger-text {
  font-size: larger;
}

@media screen and (min-width: 768px) {
  .products {
    flex-flow: row wrap;
    align-content: flex-start;
  }

  .products-item {
    max-width: 45%;
  }

  .product-image {
    max-width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    flex-flow: row wrap;
  }

  .products-item {
    max-width: 30%;
  }
}
