.product {
  align-items: center;
}

.product-description {
  text-align: justify;
}

.product-image {
  max-width: 75%;
}

.price {
  font-weight: bold;
}

.sizes {
  justify-content: space-around;
}

.cart-button-container {
  align-items: center;
  justify-content: right;
  margin: 1%;
}

.heart-button {
  font-size: 1.5em;
  padding-left: 1%;
  border: none;
  cursor: pointer;
}

.heart-icon-colored {
  color: #d2042d;
}

.description-text {
  margin-left: .2em;
  margin-right: .5em;
}

@media screen and (min-width: 768px) {
  .product {
    flex-direction: row;
  }

  .product-image {
    max-width: 25%;
  }
}
